.git
.github
.vs
.vscode
**/bin
**/obj
build-check
Reports
Tools/**/bin
Tools/**/obj

*.log
*.user
*.suo
*.publishsettings

.env
.env.*
**/appsettings.Development.json
**/secrets.json
proposal-dev.out.log
proposal-dev.err.log
